<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon_io/apple-touch-icon.png">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../static/images/favicon_io/site.webmanifest">

    <title>Anna Bella</title>
    
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="../../static/css/main.css">

</head>

<body>
    <div id="home-body-content">
        <div class="banner">
            <img src="../../static/images/capa.png" alt="Anna Bella Banner"/>
        </div>
            
        <div class="nav-menu">
            <ul>
                <li class="nav-text nav-item"><a href="./home.html">HOME</a></li>
                <li class="nav-text nav-divider">|</li>
                <li class="nav-text nav-item"><a href="./bio.html">BIOGRAFIA</a></li>
                <li class="nav-text nav-divider">|</li>
                <li class="nav-text nav-item"><a href="./campaigns.html">CAMPANHAS PUBLICITÁRIAS</a></li>
                <li class="nav-text nav-divider">|</li>
                <li class="nav-text nav-item"><a href="./contact.html">CONTATO</a></li>
            </ul>
        </div>

        <div class="page-content">
            <h3 class="page-content-title">Biografia</h3>
            <p class="page-content-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend ex sit amet nunc ultricies, placerat ultricies nulla condimentum. Etiam pellentesque, turpis sit amet placerat placerat, erat nunc pharetra risus, sed auctor turpis ex a felis. Integer finibus ac diam non faucibus. Proin viverra imperdiet imperdiet. Nunc dapibus vehicula justo quis gravida. In id lacus lacus. Proin convallis elit non nunc congue, sed maximus massa sagittis. Pellentesque lobortis turpis non laoreet laoreet. Vestibulum non hendrerit nisi, sed sagittis ipsum. In in aliquet tellus.
            </p>
            <p class="page-content-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend ex sit amet nunc ultricies, placerat ultricies nulla condimentum. Etiam pellentesque, turpis sit amet placerat placerat, erat nunc pharetra risus, sed auctor turpis ex a felis. Integer finibus ac diam non faucibus. Proin viverra imperdiet imperdiet. Nunc dapibus vehicula justo quis gravida. In id lacus lacus. Proin convallis elit non nunc congue, sed maximus massa sagittis. Pellentesque lobortis turpis non laoreet laoreet. Vestibulum non hendrerit nisi, sed sagittis ipsum. In in aliquet tellus.
            </p>
        </div>

        <div id="footer">
            <h5>Anna Bella professional model, all rights reserved.</h5>
        </div>

    </div>
</body>
</html>