<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon_io/apple-touch-icon.png">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../static/images/favicon_io/site.webmanifest">

    <title>Anna Bella</title>
    
</head>

<body>
    <div id="home-body-content">
        
        <div class="banner">
            <img src="../../static/images/capa.png" alt="Anna Bella Banner"/>
        </div>
            
        <div class="nav-menu">
            <ul>
                <li class="nav-item">HOME</li>
                <li class="nav-divider">|</li>
                <li class="nav-item">BIOGRAFIA</li>
                <li class="nav-divider">|</li>
                <li class="nav-item">CAMPANHAS PUBLICITÁRIAS</li>
                <li class="nav-divider">|</li>
                <li class="nav-item">CONTATO</li>
            </ul>
        </div>

        <div class="page-content">
            <h2>Sobre Anna Bella</h2>
            <p>
                Some text.
            </p>
        </div>

        <div id="sticky-footer">
            Anna Bella professional model, all rights reserved.
        </div>

    </div>
</body>
</html>